* {
  background-color: rgb(237, 245, 210);
  font-family: "Roboto Condensed", sans-serif;
  margin: 0ch;
}
main {
  margin: 2rem;
}
h1 {
  color: rgb(139, 26, 73);
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.logo {
  height: 50mm;
  background-color: rgb(21, 32, 22);
}
.header {
  background-color: rgb(21, 32, 22);
  position: relative;
}
.links {
  position: absolute;
  color: beige;
  right: 1rem;
  bottom: 1rem;
  background-color: rgb(21, 32, 22);
  font-size: 1.3rem;
}
.linkh {
  color: aliceblue;
  background-color: rgb(21, 32, 22);
  margin: 0.5rem;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.link {
  font-size: 1.5rem;
  color: rgb(15, 51, 21);
}
.imagenes {
  display: flex;
  height: 30rem;
  justify-content: center;
  justify-content: space-around;
  margin-top: 2rem;
}
h2 {
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
article {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.aside {
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.tabla{
  font-size: 1.5rem;
}
.form{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
input{
  width: 15rem;
  height: 1.5rem;
  font-size: 1.5rem;
}
.seleccion{
  width: 10rem;
  font-size: 1.5rem;
}
.botonFormulario{
  width: 15rem;
  font-size: 1.5rem;
  background-color: rgb(88, 119, 88);
}
aside{
  font-size: 1.5rem;
}
footer {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 400px) {
  body {
    width: auto;
    position: relative;
  }
  main{
      position: relative;
      display: flex;
      flex-direction: column;
  }

  .logo {
    height: 30mm;
    background-color: rgb(21, 32, 22);
  }
  .links {
    right: 0.1rem;
    bottom: 0.2rem;
    background-color: rgb(21, 32, 22);
    font-size: 1.3rem;
  }
  h1 {
    font-size: 3rem;
  }
  .link {
    font-size: 1.3rem;
  }
  .imagenes {
    display: flex;
      flex-direction: column;
    margin-top: 15rem;
    position: relative;
  }
  .tabla {
    font-size: 1.5rem;
    position: absolute;
    margin-bottom: 0rem;

  }
  article {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .articulos {
    
    display: flex;
    flex-direction: column;
  
  }
  .section {
    position: relative;
    
    display: flex;
    flex-direction: column ;
  }
  .form{
    position: absolute;
    margin-bottom: 5px;
  }
  .final{
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
  }
  .aside{
    
    
  }
  footer{
    
  }
}
